body{
    margin: 0;
    padding: 0;
    font-family: Open Sans,sans-serif!important;
}
.nav{
    width: 100%;
    height: 100px;
    border: 1px solid gray;
    background-color: #10847e;
    display: flex;
    align-items: center;
    /* position: fixed;  */
    /* z-index: 1; */
}
.nav>div{
    width:100%;
    height: 70px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 0px 150px 0px 30px;
}
.nav>div>a>img{
    max-width: 100%;
    max-height: 100%;
}
.nav>div>img:nth-child(2){
    position: relative;
    top: 17px;
}
form{
    margin: auto;
    width: 400px;
    /* border: 1px solid red; */
}
form>h3{
    font-size: 20px;
    color: rgb(65, 65, 65);
    margin-bottom: 20px;
}
form>button{
    width: 50px;
    height: 49px;
    background-color: #fff;
    color: rgb(65, 65, 65);
    border: 1px solid gray;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    bottom: 1px;
    margin-bottom: 20px;
}
form>input:nth-child(3){
    width: 300px;
    height: 45px;
    border: 1px solid gray;
    border-left: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -5px;
    /* margin-top: 2px; */
    font-size: 15px;
    margin-bottom: 20px;
}
form>input:nth-child(5){
    width: 350px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #10847e;
    margin-bottom: 20px;
    /* -moz-user-focus: none; */
}
form>p:nth-child(6){
    font-size: 12px;
    color: gray;
}
form a{
    text-decoration: none;
    color: gray;
}
/* form>input:nth-child(5):focus{
 color: 1px solid gray;
} */

